<HTML>
<HEAD>
<TITLE>Acquisition Server</TITLE>
</HEAD>
<BODY BGCOLOR="FFFFFF">
<CENTER><H1> Data Acquisition Django Web Server </H1></CENTER>

<!--<CENTER><IMG SRC="python-django-logo.jpg" ALIGN="BOTTOM"> </CENTER>-->
<HR>
For more information, you can read the
<a href="https://www.djangoproject.com/">Django Official Documentation</a>
<br>
<br>
<br>

Send an email to authors for support
<P>
<a href="mailto:andrei.simion.c@gmail.com">
Andrei Simion</a>
</P>
<P>
<a href="mailto:laurentiupiciu@gmail.com">
Laurentiu Piciu</a>
</P>
<HR>
</BODY>
</HTML>

