{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
<title>
Cloudifier.NET/uploads
</title>
</head>

<body>
<table border="0" width="95%">
	<tr>
		<td colspan="2"> <img src="{% static 'img/Cloudifier.NET-logo.png' %}" style="float:left; position:relative"> </td>
	</tr>
	<tr>
	<td>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile" class="button">
    <br/>
    <br/>
    <button type="submit" class="button">Upload</button>
    <br/>
    <br/>
    <button type="Home" class="button">Home</button>
  </form>
	</td>
 <td>
 	{% if is_video is None %}
 	  <iframe class="my_class_name" width="1310" height="550"
  			frameborder="0">
  	</iframe>
  {% endif %}

  {% if not is_video and width %}
    <div class="parentDiv">
            <img src="{% static 'img/Circle-load.gif' %}">
    </div>
  	<iframe class="my_class_name" width="1110" height="350"
  			src="{{ processed_file_url }}" frameborder="0">
  	</iframe>
  {% endif %}
  </td>

  {% if is_video %}
    <div class="parentDiv">
            <img src="{% static 'img/Circle-load.gif' %}">
    </div>
  	<div style="position:relative; width: 100%; height: 0; padding-bottom: 56.25%;">
  		<video controls>
  		<source src="{{ processed_file_url }}" type="video/mp4">
  		</video>
 	  </div>
  {% endif %}  
  
</tr>
</table>
  <p><a href="{% url 'home' %}">Return to home</a></p>
 
{% endblock %}
</body>